<main class=" my-20">
  <h1 class="text-blue-950 font-extrabold text-3xl m-5 -mt-12 mb-10">Task Charts : Data analysis</h1>
  <div class="mx-20 flex justify-between align-middle mt-20">
    <article class="w-80 h-100 flex flex-col gap-5 border-1 px-1 py-4">
      <div class="mx-auto">
        <h2 class="text-blue-950 font-bold"> Task Charts : Task's Status</h2>
      </div>
      <canvas id="doughnut-status"></canvas>
    </article>
    <article class="w-[50%] p-5 border-1">
      <div class="mx-auto">
        <h2 class="text-blue-950 font-bold"> Task Charts : Task's Assigned</h2>
      </div>
      <canvas id="bar-assigned"></canvas>
    </article>
  </div>

</main>