<main class="my-20">
  <section class="w-[80%] h-60  mx-auto flex gap-3 justify-around bg-blue-800">
    <article class="my-auto">
      <figure class="w-35 ">
        <img class="w-30 mx-auto" src="./public/img/logo_task.png" alt="Logo">
      </figure>
    </article>
    <article class="h-50 flex-col my-auto  ">
      <h2 class=" font-semibold text-lg text-blue-200">Organize your day to day with  <span
          class="font-extrabold text-blue-50 text-xl">Day-task</span></h2>
      <p class="my-7 w-70 break-words text-white">Manage your tasks easily and efficiently to make the most of every moment.</p>
      <a class="nav-link w-full mx-auto px-3 py-1.5 rounded-xs font-semibold bg-amber-50 cursor-pointer hover:bg-blue-500"
        href="/task">Get started</a>
    </article>
  </section>
  <section class="my-30">
    <div class="w-[80%] mx-auto flex gap-3 p-5 justify-evenly shadow-xl shadow-blue-100">
      <article class="">
        <h3 class="text-3xl font-extrabold my-3 text-blue-900">Benefits</h3>
        <ul>
          <li class="list-disc">Productivity increase</li>
          <li class="list-disc">Better time management</li>
          <li class="list-disc">Access from any device</li>
          <li class="list-disc">Agility in your projects</li>
        </ul>
      </article>
      <article>
        <div class="w-70 p-5 bg-blue-800 rounded-full overflow-hidden">
          <img class=" rounded-xl translate-y-5 translate-x-5" src="../../public/img/Person.png" alt="Bussinessman">
        </div>
      </article>
    </div>

  </section>
</main>